.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0.4rem;
  color: var(--text-primary);
  cursor: pointer;
  flex-shrink: 0;
  transition: var(--transition);
}

.backButton svg {
  stroke-width: 1.5;
}

.backButton:hover {
  opacity: var(--hover-opacity);
  transform: scale(1.2);
}
