.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.profileSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 1.5rem;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.avatar {
  width: 66px;
  height: 66px;
  min-width: 66px;
  border-radius: 15px;
  background: var(--bg-accent-primary);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--huge-font);
  font-weight: var(--font-weight-tertiary);
}

.profileName {
  font-size: var(--huge-font);
  font-weight: var(--font-weight-tertiary);
  color: var(--text-primary);
  margin: 0;
}

.recipeCount {
  font-size: var(--basic-font);
  color: var(--text-primary);
}

.followBtn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5em 1.2em;
  border-radius: var(--btn-border-radius);
  border: 1.5px solid var(--border-accent-primary);
  background: transparent;
  color: var(--text-primary);
  font-size: var(--basic-font);
  font-weight: var(--font-weight-tertiary);
  cursor: pointer;
  transition: var(--transition);
}

.followBtn:hover {
  opacity: var(--hover-opacity);
}
.followBtnActive {
  background: var(--active-color-secondary);
  color: var(--text-on-primary);
  border-color: 1.5px solid var(--active-color-secondary);
}

.followBtnActive:hover {
  opacity: var(--hover-opacity);
  background: var(--active-color-secondary);
  color: var(--text-on-primary);
}

.privateNote {
  font-size: var(--basic-font);
  color: var(--text-primary);
  font-style: italic;
  margin-top: 0.25rem;
}

@media (max-width: 768px) {
  .page {
    padding: 0 0.5rem;
  }

  .profileSection {
    padding: 0.25rem 0 0;
    gap: 1rem;
  }
}
