.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0;
  line-height: 1;
  font-size: 1.5rem;
  color: var(--text-primary);
  background: none;
}

.circle {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--text-primary);
}

.withText {
  gap: 0.5rem;
  padding: 0.5em 1em;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background: var(--bg-tertiary);
  font-size: var(--basic-font);
}

/* .withText:hover {
  background: #e2e8f0;
} */

.addButton:hover {
  transform: scale(1.05);
}
