.searchBox {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 0.75rem;
  color: #999;
  font-size: 1.3rem;
  pointer-events: none;
  z-index: 1;
}

.searchInput {
  width: 100%;
  padding: 0 30px 0 3rem;
  border: 1px solid #e0e0e0;
  border: none;
  border-radius: 10px;
  font-size: var(--basic-font);
  outline: none;
  background: white;
  color: #333;
  height: 32px;
  box-sizing: border-box;
  line-height: 36px;
  transition: border-color 0.2s;
}

.searchInput::placeholder {
  color: #999;
}

.searchInput:focus {
  border-color: #ccc;
}

.clearSearch {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 4px;
  font-size: 18px;
  line-height: 1;
  color: #666;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
}

.clearSearch:hover {
  color: #f44336;
}

.clearSearch:focus {
  outline: none;
  color: #f44336;
}
