.searchBox {
  position: relative;
  flex: 0 1 320px;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  inset-inline-start: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-muted);
  font-size: 1.5rem;
  pointer-events: none;
  z-index: 1;
}

.searchInput {
  width: 100%;
  height: 32px;
  padding-block: 0.45rem;
  padding-inline-start: 3.5rem;
  padding-inline-end: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: var(--basic-font);
  outline: none;
  background: var(--bg-input);
  color: var(--text-primary);
  box-sizing: border-box;
  transition:
    border-color 0.2s,
    background-color 0.3s;
}

.searchInput::placeholder {
  color: var(--text-muted);
}

.searchInput:focus {
  border-color: var(--border-color);
}

/* --- Size: small --- */
.small .searchIcon {
  font-size: var(--small-font);
  inset-inline-start: 0.6rem;
}

.small .searchInput {
  padding-block: 0.35rem;
  padding-inline-start: 3rem;
  padding-inline-end: 1.8rem;
  font-size: var(--basic-font);
  border-radius: 12px;
}

.small .clearSearch {
  width: 1.2rem;
  height: 1.2rem;
  font-size: 2.3rem;
  background: none;
}

/* --- Size: large --- */
.large .searchIcon {
  font-size: 1.15rem;
  inset-inline-start: 0.9rem;
}

.large .searchInput {
  padding-block: 0.6rem;
  padding-inline-start: 3.5rem;
  padding-inline-end: 2.4rem;
  font-size: var(--basic-font);
  border-radius: 10px;
}

.large .clearSearch {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
  background: none;
}

.clearSearch {
  position: absolute;
  inset-inline-end: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  /* background: var(--bg-hover); */
  background: none;
  border: none;
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 3rem;
  line-height: 1;
  color: var(--text-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: all 0.15s;
}

.clearSearch:hover {
  /* background: var(--border-color); */
  color: var(--text-primary);
  transform: translateY(-50%) scale(1.1)
}

.clearSearch:focus {
  outline: none;
  background: var(--border-color);
  color: var(--text-primary);
}
