.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0;
  line-height: 1;
}

.plain {
  background: none;
  color: var(--text-secondary);
  font-size: 2.5rem;
}

.plain:hover {
  color: var(--text-primary);
}

.circle {
  background: var(--bg-tertiary);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 2.5rem;
  color: var(--text-secondary);
  border: 1px solid var(--border-color);
}

.closeButton:hover {
  /* background: #e5e7eb; */
  color: var(--text-primary);
  transform: scale(1.1);
}
