/* button */

.genButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  border-radius: var(--btn-border-radius);
  color: var(--clr-btn-main-text);
  background: var(--clr-btn-main-bg);
  font-size: var(--basic-font);
  font-weight: var(--clr-btn-main-font-weight);
  cursor: pointer;
  transition: var(--transition);
  padding: 0.8em 1.5em;
}

.genButton svg {
  display: block;
  align-self: center;
}

.genButton:hover {
  background: var(--clr-btn-main-bg-hover);
  /* box-shadow: var(--btn-box-shadow); */
}

.genButton:disabled {
  opacity: var(--disabled-opacity);
  cursor: not-allowed;
}

.genButton:hover:not(:disabled) {
  color: var(--clr-btn-main-text);
  background: var(--clr-btn-main-bg-hover);
  /* box-shadow: var(--btn-box-shadow); */
}

/* checkbox */

.checkBox {
  -webkit-appearance: none;
  appearance: none;
  padding: 0.2rem;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  border: 0.15rem solid var(--clr-btn-main-bg);
  border-radius: 0.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  flex-shrink: 0;
}

.checkBox:checked {
  background-color: var(--clr-btn-main-bg);
}

.checkBox:checked::after {
  content: "";
  width: 0.6rem;
  height: 1rem;
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

/* .checkBox:hover {
  border-color: var(--clr-btn-main-bg);
  opacity: 0.6;
} */
