.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.3);
  max-width: 50rem;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .modalContent {
    width: 95%;
    max-width: 95%;
    height: auto;
    max-height: 85vh;
    border-radius: 12px;
    padding: 1.5rem;
  }
}

.fullscreen {
  max-width: 100%;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  border-radius: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
