.viewToggleButton {
  background-color: var(--text-secondary);
  color: white;
  border-radius: 4px;
  padding: 0.7em 1em;
  font-size: 1.2rem;
  transition: background-color 0.2s ease;
}

.viewToggleButton:hover {
  background-color: var(--text-muted);
}
