.header {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  background: var(--bg-card);
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}
