.upButton {
  position: fixed;
  bottom: 2rem;
  left: 1rem;
  z-index: 10;
  background-color: var(--bg-card);
  color: var(--text-primary);
  /* background-color: #0f2842;
  color: white; */
  border: 1px solid var(--border-color);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.4s,
    box-shadow 0.2s;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
}

.upButton:hover {
  /* background-color: #0056b3; */
  /* transform: translateY(-2px); */
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); */
}
