.greetingWrapper {
  margin: 0.8rem 0 1.2rem;
  text-align: center;
}

.greetingSmall {
  font-size: var(--basic-font);
  color: var(--clr-text-muted);
  opacity: 0;
  max-height: 2rem;
  overflow: hidden;
  margin-bottom: 0.2rem;
  transition:
    opacity 0.5s ease,
    max-height 0.4s ease,
    margin-bottom 0.4s ease;
}

.greetingSmall.show {
  opacity: 1;
}

.greetingSmall.hide {
  opacity: 0;
  max-height: 0;
  margin-bottom: 0;
}

.greetingPrompt {
  font-size: var(--basic-font);
  font-weight: var(--font-weight-primary);
}
