.footer {
  margin: 0;
  /* padding: 0.5rem 0;
  background: var(--bg-tertiary);
  border-top: 1px solid var(--border-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline-start: 220px;
  z-index: 999;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.08); */
  display: none;
}

.footerNav {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.footerLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  padding: 0.4em 0.6em;
  text-decoration: none;
  color: var(--text-muted);
  /* color: unset; */
  border-radius: 8px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  transition:
    color 0.2s ease,
    background-color 0.2s ease;
}

.footerLink:hover {
  color: var(--text-primary);
  background-color: var(--bg-hover);
}

.footerLink.active {
  color: var(--active-color);
  background-color: var(--bg-hover);
  font-weight: 799;
  color: var(--active-color);
}

.footerIcon {
  font-size: 2rem;
}

.footerLabel {
  font-size: var(--small-font);
  font-weight: 500;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .footer {
    margin-inline-start: 0;
    padding: 0.4rem 0;
    display: block;

    background: var(--bg-tertiary);
    border-top: 1px solid var(--border-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 999;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.08);
  }
}
